.ProgressBarChart {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
  border: none;

  &Body {
    position: relative;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    flex: 1 1 calc(100% - 38px);
  }

  &Component {
    position: absolute;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    gap: 8px;
  }

  &Header {
    & .titleText, & .subtitleText {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    & .nowrap {
      white-space: nowrap;
    }
  }

  &Loader {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  &List {
    overflow: auto;
    width: 100%;
    height: 100%;
  }
}
